@import "package:m4d_components/assets/styles/material-design-lite";
@import "app";

.demo-page--attribute, .demo-section--attribute {
    .mdl-textfield__label {

        > .enabled {
            display: none;
        }

        > .disabled {
            display: inline;
        }

        &.enabled > {
            .enabled {
                display: inline;
            }
            .disabled {
                display: none;
            }
        }
    }
    .demo-preview-block > p, .switches {
        margin-top: 1em;
    }

    .switches, .controls, .demo-preview-block > p {
        padding: 1em;
    }
}
